<header class="header">
  <a class="brand-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
  <p class="brand-tagline">{{ site.tagline }}</p>

  {% if site.data.navigation %}
    <nav class="nav pure-menu">
      <ul class="pure-menu-list">
      {% for item in site.data.navigation.toc %}
        <li class="nav-item pure-menu-item">
        {{item.title}}
          <ul class="pure-menu-list">
          {% for entry in item.subfolderitems%}
            <li class="nav-item pure-menu-item">
                <a style="font-size:12px"  href="{{ entry.url | relative_url }}" class="pure-menu-link {% if page.url == entry.url %}current{% endif %}">
            {{ entry.page }}
                </a>
            </li>
          </ul>
        {% endfor %}
        </li>
     {% endfor %}
      </ul>
    </nav>
  {% endif %}

  {% if site.data.social %}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-list pure-menu-list">
        {% for social in site.data.social %}
          <li class="social-item pure-menu-item">
            <a class="pure-menu-link pure-button" href="{{ social.url }}" target="_blank">
              <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</header>
